.person-icon svg {
  stroke-width: 0.5px;
  font-size: 22.5px;
}

.hamburger-icon svg {
  stroke-width: 0.5px;
  font-size: 22.5px;
}

.cart-icon svg {
  stroke-width: 2px;
  font-size: 22.5px;
}

.search-icon svg {
  stroke-width: 2px;
  font-size: 22.5px;
}

.space {
  margin-left: 43.5%;
  margin-right: 46.5%;
}

@media screen and (max-width: 600px) {
  .space {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .space {
    margin-left: 0%;
    margin-right: 0%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
  .space {
    margin-left: 42%;
    margin-right: 0%;
  }
}
